@charset "UTF-8";
.item .item-content .rank .rank-table table thead {
  height: 45px;
  line-height: 1.5em;
  background-color: #A60D00;
  color: #ffffff;
  text-align: center;
}
.item .item-content .rank .rank-table table thead td .fa {
  font-size: 22px;
  padding-left: 8px;
  position: relative;
  top: 1px;
  left: -4px;
}
.item .item-content .rank .rank-table table thead .re-rank {
  cursor: pointer;
}
.item .item-content .rank .rank-table table thead .re-rank:hover {
  background-color: #C61000;
}
.item .item-content .rank .rank-table table tbody {
  text-align: center;
}
.item .item-content .rank .rank-table table tbody tr {
  background: #ffffff;
}
.item .item-content .rank .rank-table table tbody td {
  height: 40px;
  line-height: 40px;
}

.item .item-content .rank .rank-table .rank-table-title .vtline {
  border: 2px solid #A60D00;
  margin-right: 3%;
}

.item .item-content .rank ul {
  font-size: 14px;
  padding: 3%;
}
.item .item-content .rank ul li {
  margin-bottom: 2%;
}
.item .item-content .rank ul li a {
  display: block;
}
.item .item-content .rank ul li a > .pull-left {
  line-height: 20px;
}
.item .item-content .rank ul li a > .pull-left i {
  margin-right: 10px;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #A60D00;
  color: #ffffff;
  border-radius: 50%;
}
.item .item-content .rank ul li a > .pull-left span.pull-left {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item .item-content .rank ul li a > .pull-right {
  width: 115px;
  line-height: 20px;
}

.item {
  background-color: #fff;
  width: 100%;
  margin-top: 5%;
}
.item .item-top {
  background: -webkit-linear-gradient(#FF1A06, #A60D00);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#FF1A06, #A60D00);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#FF1A06, #A60D00);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#FF1A06, #A60D00);
  /* 标准的语法 */
  border-radius: 5px;
}
.item .item-top h3 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 2.5% 0 2.5% 2.5%;
}
.item .item-top h3 .fa {
  font-size: 18px;
}
.item .item-content .chart {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 3%;
  padding: 3% 0;
  border-bottom: 1px solid #cccccc;
}
.item .item-content .rank .rank-table {
  padding: 3%;
}
.item .item-content .rank .rank-table .swiper-slide {
  padding: 0 0 6%  0;
}
.item .item-content .rank .rank-table .swiper-pagination-bullet-active {
  background-color: #A60D00;
}
.item .item-content .rank .rank-table .swiper-pagination-bullets {
  bottom: 0 !important;
}
.item .item-content .rank .rank-table .swiper-button-next, .item .item-content .rank .rank-table .swiper-button-prev {
  background: rgba(143, 13, 0, 0.7);
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  line-height: 44px;
  font-size: 22px;
  display: none;
}
.item .item-content .rank .rank-table .rank-table-title {
  margin-top: 3%;
}
.item .item-content .rank .rank-table .swiper-tip {
  color: #aaaaaa;
  text-align: center;
  margin-top: 3%;
}
.item .item-content .rank .rank-table table {
  margin-top: 3%;
  width: 100%;
}
.item .item-content .rank .rank-table table thead td {
  height: auto;
  padding: 2% 0;
  line-height: 1.5em;
}
.item .item-content .rank .rank-table table tbody td {
  height: auto;
  padding: 2% 0;
  line-height: 1.5em;
}
.item .item-content .lineshadow {
  height: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=activity_ranking.css.map */
