@charset "UTF-8";
.rank .rank-table table thead {
  height: 45px;
  line-height: 1.5em;
  background-color: #A60D00;
  color: #ffffff;
  text-align: center;
}
.rank .rank-table table thead td .fa {
  font-size: 22px;
  padding-left: 8px;
  position: relative;
  top: 1px;
  left: -4px;
}
.rank .rank-table table thead .re-rank {
  cursor: pointer;
}
.rank .rank-table table thead .re-rank:hover {
  background-color: #C61000;
}
.rank .rank-table table tbody {
  text-align: center;
}
.rank .rank-table table tbody tr {
  background: #ffffff;
}
.rank .rank-table table tbody td {
  height: 40px;
  line-height: 40px;
}

.statistics .statistics-table .totalrank .vtline, .rank .rank-table .rank-table-title .vtline {
  border: 2px solid #A60D00;
  margin-right: 3%;
}

.current-unit {
  margin-top: 5%;
}
.current-unit .current-unit-top {
  background: -webkit-linear-gradient(#FF1A06, #A60D00);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#FF1A06, #A60D00);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#FF1A06, #A60D00);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#FF1A06, #A60D00);
  /* 标准的语法 */
  border-radius: 5px;
}
.current-unit .current-unit-top h3 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 2.5% 0 2.5% 2.5%;
}
.current-unit .current-unit-top h3 .fa {
  font-size: 18px;
}

.statistics {
  margin: 5% 0;
  font-size: 14px;
  background-color: #fff;
}
.statistics .statistics-top {
  background: -webkit-linear-gradient(#FF1A06, #A60D00);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#FF1A06, #A60D00);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#FF1A06, #A60D00);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#FF1A06, #A60D00);
  /* 标准的语法 */
  border-radius: 5px;
}
.statistics .statistics-top h3 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 2.5% 0 2.5% 2.5%;
}
.statistics .statistics-top h3 .fa {
  font-size: 18px;
}
.statistics .statistics-table {
  padding: 3%;
}
.statistics .statistics-table .totalrank {
  color: #666;
  margin-top: 3%;
}
.statistics .statistics-table .totalrank span:nth-of-type(3) {
  margin-right: 5%;
}
.statistics .statistics-table .totalrank .fa-star {
  color: #ff7800;
}
.statistics .statistics-table .swiper-slide {
  padding: 0 0 6%  0;
}
.statistics .statistics-table .swiper-pagination-bullet-active {
  background-color: #A60D00;
}
.statistics .statistics-table .swiper-pagination-bullets {
  bottom: 0 !important;
}
.statistics .statistics-table table {
  margin-top: 3%;
  width: 100%;
}
.statistics .statistics-table table thead {
  background-color: #A60D00;
  color: #ffffff;
  text-align: center;
}
.statistics .statistics-table table thead td {
  border: 1px solid #fff;
  line-height: 1.5em;
  padding: 2% 0;
}
.statistics .statistics-table table thead td .fa {
  font-size: 22px;
  padding-left: 8px;
  position: relative;
  top: 3px;
}
.statistics .statistics-table table thead .re-rank {
  cursor: pointer;
}
.statistics .statistics-table table thead .re-rank:hover {
  background-color: #C61000;
}
.statistics .statistics-table table tbody {
  text-align: center;
}
.statistics .statistics-table table tbody td {
  padding: 2% 0;
  line-height: 1.5em;
  border: 1px solid #cccccc;
}

.rank {
  margin: 5% 0;
  background-color: #fff;
  font-size: 14px;
}
.rank .rank-top {
  background: -webkit-linear-gradient(#FF1A06, #A60D00);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#FF1A06, #A60D00);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#FF1A06, #A60D00);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#FF1A06, #A60D00);
  /* 标准的语法 */
  border-radius: 5px;
}
.rank .rank-top h3 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 2.5% 0 2.5% 2.5%;
}
.rank .rank-top h3 .fa {
  font-size: 18px;
}
.rank .rank-table {
  padding: 3%;
}
.rank .rank-table .swiper-slide {
  padding: 0 0 6%  0;
}
.rank .rank-table .swiper-pagination-bullet-active {
  background-color: #A60D00;
}
.rank .rank-table .swiper-pagination-bullets {
  bottom: 0 !important;
}
.rank .rank-table .swiper-button-next, .rank .rank-table .swiper-button-prev {
  background: rgba(143, 13, 0, 0.7);
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  line-height: 44px;
  font-size: 22px;
  display: none;
}
.rank .rank-table .rank-table-title {
  margin-top: 3%;
}
.rank .rank-table .swiper-tip {
  color: #aaaaaa;
  text-align: center;
  margin-top: 3%;
}
.rank .rank-table table {
  margin-top: 3%;
  width: 100%;
}
.rank .rank-table table thead td {
  height: auto;
  padding: 2% 0;
  line-height: 1.5em;
}
.rank .rank-table table tbody td {
  height: auto;
  padding: 2% 0;
  line-height: 1.5em;
}

/*# sourceMappingURL=after_evaluate.css.map */
