@charset "UTF-8";
main {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f9f9f9;
  padding: 0 3% 3% 3%;
}
main .activetop {
  width: 106%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 5%;
  margin: 0 -3%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}
main .activetop .active-title {
  width: 100%;
}
main .activetop .active-title .active-title-left {
  width: 100%;
  position: relative;
}
main .activetop .active-title .active-title-left h1 {
  font-size: 16px;
  font-weight: bold;
}
main .activetop .active-title .active-title-left .activetime {
  font-size: 14px;
  color: #cccccc;
  padding-top: 2%;
}
main .activetop .active-title .active-title-right {
  width: 100%;
  margin-top: 3%;
}
main .activetop .active-title .active-title-right .pull-left {
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 2%;
}
main .activetop .active-title .active-title-right .pull-left table {
  width: 100%;
}
main .activetop .active-title .active-title-right .pull-left table thead {
  background-color: #A60D00;
  color: #ffffff;
}
main .activetop .active-title .active-title-right .pull-left table td {
  border: 1px solid #000000;
  text-align: center;
}
main .activetop .active-title .active-title-right .pull-left .activebtn {
  margin-top: 7%;
}
main .activetop .active-title .active-title-right .pull-left .activebtn a {
  display: block;
  font-size: 14px;
  width: 50%;
  text-align: center;
  color: #ffffff;
  background-color: #A60D00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
}
main .activetop .active-title .active-title-right .pull-left .activebtn a:hover {
  text-decoration: none;
  background-color: #8f0d00;
}
main .activetop .active-info {
  border-radius: 4px;
  background-color: #eeeeee;
  padding: 15px;
  margin-top: 20px;
}
main .activetop .active-info p {
  text-indent: 2em;
  font-size: 14px;
  line-height: 1.5em;
}
main .units {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  margin-top: 5%;
}
main .units .units-top {
  background: -webkit-linear-gradient(#FF1A06, #A60D00);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#FF1A06, #A60D00);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#FF1A06, #A60D00);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#FF1A06, #A60D00);
  /* 标准的语法 */
  border-radius: 5px;
}
main .units .units-top h3 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 2.5% 0 2.5% 2.5%;
}
main .units .units-top h3 .fa {
  font-size: 18px;
}
main .units .units-items {
  padding: 0 3% 10% 3%;
}
main .units .units-items .units-item {
  display: block;
  text-decoration: none;
  margin: 2% 0;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}
main .units .units-items .units-item .units-item-name {
  padding: 2.5% 0 2.5% 3%;
  border: 1px solid #eeeeee;
  position: relative;
}
main .units .units-items .units-item .units-item-name .fa {
  position: absolute;
  color: #e0e0e0;
  top: 50%;
  right: 2%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*# sourceMappingURL=index.css.map */
